*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/.idea/checkstyle-idea.xml
/.idea/compiler.xml
/kiji/src/androidTest/java/dev/kiji/ExampleInstrumentedTest.kt
/kiji/src/test/java/dev/kiji/ExampleUnitTest.kt
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/git_toolbox_prj.xml
